<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>samplePerfect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>samplePerfect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1478</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1481</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1501</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1504</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1544</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_766</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
